body{
    background: #232080;
background: linear-gradient(180deg,rgba(35, 32, 128, 1) 0%, rgba(119, 58, 194, 1) 35%, rgba(194, 58, 155, 1) 65%, rgba(255, 56, 92, 1) 100%);
}

h1{
    color:rgb(212, 215, 192);
    text-align: center;
    font-size: 350%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.carta{

display: flex;
    justify-content: center;

}

.fotitos{
display: flex;
    justify-content: center;
}

.estrella-izquierda{
display: flex;
    justify-content: left;
     padding-right: 2%;
     padding-left: 2%;
}

.estrella-derecha{
    display: flex;
    justify-content: right;
     padding-right: 2%;
     padding-left: 2%;
}

.Seekers{
    display: flex;
    justify-content: center;

     /* Invisible texto */
figcaption {
    text-align: center;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display:none; 
  transition: all .7s;
}
/* Visible texto */
figure:hover > figcaption {
  display:block;
  transition: all .7s;
}
}

.bm{
    display: flex;
      justify-content: center;
}

 button {
    align-items: center;
      background: #232080;
      background: linear-gradient(180deg,rgba(35, 32, 128, 1) 0%, rgba(119, 58, 194, 1) 35%, rgba(194, 58, 155, 1) 65%, rgba(255, 56, 92, 1) 100%);
        color: rgb(212, 215, 192);
      border: none;
      padding: 15px 30px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      font-size: 1.2em;
      border-radius: 30px;
      cursor: pointer;
      box-shadow: 0 8px 15px rgba(0,0,0,0.2);
      transition: all 0.3s ease;
    }

    button:hover {
      background-color: rgb(82, 82, 180);
      box-shadow: 0 12px 20px rgba(0,0,0,0.3);
      transform: translateY(-3px);
    }

    button:active {
      transform: scale(0.98);
    }





.Conjux{
     display: flex;
    justify-content: center;

     /* Invisible texto */
figcaption {
    text-align: center;
    color: antiquewhite;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  display:none; 
  transition: all .7s;
}
/* Visible texto */
figure:hover > figcaption {
  display:block;
  transition: all .7s;
}
}

audio{
    display: block; /* Cambia el display a bloque para mejor control de diseño */
      width: 35%;     /* Ejemplo: hazlo más estrecho */
      margin: 20px auto; /* Ejemplo: céntralo horizontalmente */
      /* border: 1px solid #734545; /* Ejemplo: añade un borde */
      /*border-radius: 5px;   /* Ejemplo: esquinas redondeadas */
      padding: 10px;
}

.esconder audio{
display: flex;
  flex-direction: column;
  min-height: 70vh;
}

.audio{
margin-top: auto;
}